awscli==1.16.245
behave==1.2.6
boto3==1.9.235
botocore==1.12.235
colorama==0.3.9
docutils==0.15.2
enum34==1.1.6
futures==3.3.0
jmespath==0.9.4
linecache2==1.0.0
parse==1.12.1
parse-type==0.5.2
pyasn1==0.4.7
python-dateutil==2.8.0
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
traceback2==1.4.0
urllib3==1.25.6
